/*cssreset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*global box-sizing*/
*{
	scroll-behavior: smooth;
  box-sizing: border-box;
}
html{
	font-size: 1vmin;
}
/*landing page (header) styles*/
.landing-page{
  height: 100vh;
  background: black;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
  align-items: center;
}
.code-window{
  width: 80vw;
  height: auto;
  overflow: hidden;
  background: black;
  margin:3rem auto;
  box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.3);
}
.code-window p{
  font-family: 'Source Code Pro', monospace;
  color: #1ec503;
	width: auto;
	margin-bottom: 0.6rem;
  font-size: 2.2rem;
	letter-spacing: 0.15rem;
	line-height: 3.6rem;
	padding-left: 4ch;
	text-indent: -4ch;
	overflow: hidden;
}
.scrollbtn{
	opacity: 1;
	transition: opacity 0s;
	outline: none;
	border: 1px solid #1ec503;
	font-family: 'Source Code Pro', monospace;
	/*extra left and right margin to make sure the button wraps to new line*/
	margin: 0px 10vw;
	/* align-self: flex-end; */
	font-size: 2.2rem;
	border-radius: 4px;
	padding: 0.5rem 1rem;
	color: #1ec503;
	background-color: black;
	box-shadow: 0 0 25px 4px rgba(0, 0, 0, 0.2);
}
.scrollbtn:active{
	transform: scale(0.98);
}
.scrollbtn:hover {
  color: black;
  border-color: currentColor;
  background-color: #1ec503;
}
.main-page{
	height: 100vh;
	background-color: #2E294E;
	display: grid;
	grid-template-columns: 30vw 70vw;
	grid-template-rows: 20vh 70vh 10vh;
	grid-template-areas: "piano-nav piano-nav"
	                     "main      main     "
											 "links     links    ";
}
.piano-nav{
	grid-area: piano-nav;
	background-color: #2E294E;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.white-key{
	background-color: white;
	border: 3px solid #2E294E;
	border-radius: 8px;
	flex: 1;
	height: 100%;
}
.black-key{
    position: relative;
    height: 70%;
    background-color: black;
    color: white;
    width: 10%;
    margin: 0 -5%;
		border-radius: 5px;
}
.content{
	grid-area: main;
}
.links{
	grid-area: links;
}
.links ul{
	display: flex;
	flex:1;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	background-color: #1B998B;
}
.links li{
	width: 10vh;
  height: 10vh;
	list-style: none;
	padding: 1vh;
	flex:0 1 auto;
}
.links li:hover{
	filter: invert(100%);
}
@media only screen and (min-width: 640px){
	 .main-page{
		 grid-template-areas:"piano-nav  main "
	 	                     "piano-nav  main "
	 											 "piano-nav links";
	 }
	 .piano-nav{
		 flex-direction: column-reverse;
	 }
	 .white-key{
		 width: 100%;
		 height: 100%;
		 border-right: none;
	 }
	 .black-key{
		 width: 70%;
		 height: 10vh;
		 margin: -5vh 0;
	 }
}
